.newTweet {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1em 1em;
  width: inherit;

}

.tweetTop {
  display: flex;
  flex-direction: row;
  border-bottom: 3px solid black;
  font-family: sans-serif;
}

.tweetTop  textarea {
  height: 40px;
  border: none;
  font-size: 1.3rem;
  background: transparent;
  resize: none;
  outline: none;
  width: 100%
}

.tweetBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Bungee";
}

.tweetBottom  button {
  border: 0;
  margin-top: 5px;
  color: #FFFFFF;
  background: #4056A1;
}

.error {
  display: none;
  border: 1px solid;
	margin: 10px auto;
	padding: 15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
	max-width: 460px;
  color: #D8000C;
	background-color: #FFBABA;
	background-image: url('https://i.imgur.com/GnyDvKN.png');
}