#tweets-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: inherit;
}

article {
  display: flex;
  margin-top: 1.2em;
  flex-direction: column;
  border: 4px solid black;
  width: 100%;
  padding: 0.5em;
}

article:hover {
  box-shadow: 10px 10px 5px grey;
}

article header {
  display: flex;
  justify-content: space-between;
  padding: 16px;
}

.handle {
  color: skyblue;
  font-weight: bold;
}

.text {
  word-wrap: break-word;
}

article footer {
  display:flex;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 12px;
  border-top: inherit;
}

.icons {
  display:flex;
  color: #4056A1;
  font-size: 0.6em;
}

.flag:hover, .retweet:hover, .like:hover {
color: gold;
}

.flag {
  padding-right: 6px;
}

.retweet {
  padding-left: 6px;
  padding-right: 6px;
}

.like {
  padding-left: 6px;
}

.time-keeper {
  font-size: 0.6em;
}